/dts-v1/;
/plugin/;

&fpga {
        firmware-name = "ve2302_xdma_base.pdi";

        misc_clk_0: misc_clk_0 {
                #clock-cells = <0x0>;
                clock-frequency = <0x7735940>;
                compatible = "fixed-clock";
        };

        fpga_PRDFX_RP: fpga-PRDFX_RP {
                #size-cells = <0x2>;
                #address-cells = <0x2>;
                compatible = "fpga-region";
                ranges;
        };
};

&amba {

        STATIC_DESIGN_axi_test_gpio_pf0: gpio@10000 {
                xlnx,all-inputs = <0x0>;
                xlnx,name = "STATIC_DESIGN_axi_test_gpio_pf0";
                xlnx,tri-default = <0xffffffff>;
                clock-names = "s_axi_aclk";
                xlnx,gpio2-width = <0x20>;
                xlnx,dout-default-2 = <0x0>;
                xlnx,edk-iptype = "PERIPHERAL";
                xlnx,gpio2-board-interface = "Custom";
                xlnx,interrupt-present = <0x0>;
                device_type = "gpio";
                gpio-controller;
                xlnx,all-outputs-2 = <0x0>;
                clocks = <&misc_clk_0>;
                xlnx,all-inputs-2 = <0x0>;
                reg = <0x201 0x10000 0x0 0x1000 0x0 0x10000 0x0 0x1000>;
                xlnx,tri-default-2 = <0xffffffff>;
                xlnx,ip-name = "axi_gpio";
                xlnx,is-dual = <0x0>;
                xlnx,dout-default = <0xf0>;
                xlnx,gpio-width = <0x20>;
                #gpio-cells = <0x2>;
                xlnx,all-outputs = <0x0>;
                compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
                xlnx,gpio-board-interface = "Custom";
        };

        STATIC_DESIGN_blp_logic_base_clocking_force_reset_gpio: gpio@20000 {
                xlnx,all-inputs = <0x0>;
                xlnx,name = "STATIC_DESIGN_blp_logic_base_clocking_force_reset_gpio";
                xlnx,tri-default = <0xffffffff>;
                clock-names = "s_axi_aclk";
                xlnx,gpio2-width = <0x1>;
                xlnx,dout-default-2 = <0x0>;
                xlnx,edk-iptype = "PERIPHERAL";
                xlnx,gpio2-board-interface = "Custom";
                xlnx,interrupt-present = <0x0>;
                device_type = "gpio";
                gpio-controller;
                xlnx,all-outputs-2 = <0x0>;
                clocks = <&versal_clk 0x41>;
                xlnx,all-inputs-2 = <0x1>;
                reg = <0x201 0x20000 0x0 0x1000 0x0 0x20000 0x0 0x1000>;
                xlnx,tri-default-2 = <0xffffffff>;
                xlnx,ip-name = "axi_gpio";
                xlnx,is-dual = <0x1>;
                xlnx,dout-default = <0x0>;
                xlnx,gpio-width = <0x1>;
                #gpio-cells = <0x2>;
                xlnx,all-outputs = <0x1>;
                compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
                xlnx,gpio-board-interface = "Custom";
        };

        STATIC_DESIGN_blp_logic_uuid_register: uuid_register@0 {
                xlnx,name = "STATIC_DESIGN_blp_logic_uuid_register";
                clocks = <&versal_clk 0x41>;
                reg = <0x0 0x80000000 0x0 0x1000 0x0 0x0 0x0 0x1000>;
                xlnx,edk-iptype = "PERIPHERAL";
                xlnx,ip-name = "uuid_register";
                clock-names = "S_AXI_ACLK";
                compatible = "xlnx,uuid-register-1.0";
        };

        STATIC_DESIGN_xdma_bypass_addr_mask: axi_addr_mask@0 {
                xlnx,name = "STATIC_DESIGN_xdma_bypass_addr_mask";
                xlnx,data-width = <0x100>;
                xlnx,aruser-width = <0x8>;
                clock-names = "aclk";
                xlnx,edk-iptype = "PERIPHERAL";
                xlnx,id-width = <0x4>;
                clocks = <&misc_clk_0>;
                xlnx,addr-width = <0x40>;
                reg = <0x0 0x0 0x0 0x10000000>;
                xlnx,ip-name = "axi_addr_mask";
                xlnx,s-addr-mask = <0xfffffff>;
                xlnx,awuser-width = <0x8>;
                compatible = "xlnx,axi-addr-mask-1.0";
        };

        STATIC_DESIGN_xdma_lite_addr_mask: STATIC_DESIGN_xdma_lite_addr_mask@0 {
                xlnx,name = "STATIC_DESIGN_xdma_lite_addr_mask";
                xlnx,data-width = <0x20>;
                xlnx,aruser-width = <0x0>;
                clock-names = "aclk";
                xlnx,edk-iptype = "PERIPHERAL";
                xlnx,id-width = <0x1>;
                clocks = <&misc_clk_0>;
                xlnx,addr-width = <0x40>;
                reg = <0x0 0x0 0x0 0x1000000>;
                xlnx,ip-name = "axi_addr_mask";
                xlnx,s-addr-mask = <0xffffff>;
                xlnx,awuser-width = <0x0>;
                compatible = "xlnx,axi-addr-mask-1.0";
        };
};

